<template>
  <div>
    <svg :class="graphClass" width="100%" height="100%" viewBox="0 0 800 330"
         preserveAspectRatio="xMidYMid meet">

      <g class='lineChart' v-bind:transform="translate">
        <axis class='yA' v-bind:scales="getScales().yAxis" v-bind:chartDefaults='chartDefaults' v-bind:data='data'
              v-bind:trns='trnsY'/>
        <axis class='xA' v-bind:scales="getScales().xAxis" v-bind:chartDefaults='chartDefaults' v-bind:data='data'
              v-bind:trns='trnsX()'/>
        <axis class='grid' v-bind:scales="getScales().yGrid" v-bind:chartDefaults='chartDefaults' v-bind:data='data'
              v-bind:trns='trnsY' v-bind:style="{opacity: chartDefaults.gridOpacity}"/>
        <path class='line' :d="line"/>
        <clipPath>
          <rect x="0" y="0" :width="chartDefaults.width" :height="chartDefaults.height"/>
        </clipPath>
      </g>

    </svg>

    <p class='text'> {{ chartDefaults.title }}</p>
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
import * as d3 from "d3";
import Axis from "./Axis";

export default {
  props: ['data', 'title', 'graphClass', 'lineColor'],
  components: {
    axis: Axis // Using reusable component to draw x,y axis and Grid.
  },
  data() {
    return {
      chartDefaults: {
        width: 800,
        height: 300,
        chartId: "linechart-vue",
        title: this.title,
        margin: {
          top: 5,
          right: 5,
          bottom: 15,
          left: 50
        },
        gridOpacity: 1,
        data: []
      },
      line: "",
      //Translate co-ords for chart, x axis and yaxis. This is injected into template
      translate: "translate(" + 50 + "," + 5 + ")",
      trnsY: "translate(0,0)",
      trnsX: this.getTrnsx,
      toggleClass: true
    };
  },
  mounted() {
    this.calculatePath();
    document.querySelector('.' + this.graphClass + ' .lineChart > path').style.stroke = this.lineColor;
  },
  methods: {
    getScales() {
      var parseDate = d3.timeParse("%Y-%m-%d");

      this.data.forEach(function (d) {
        d.date = parseDate(d.day);
        if (!d.count || isNaN(d.count))
          d.count = 0
      });
      const x = d3
          .scaleTime()
          .domain(
              d3.extent(this.data, function (d) {
                return d.date;
              })
          )
          .range([0, this.chartDefaults.width - 100]);
      const y = d3
          .scaleLinear()
          .domain([
            0,
            d3.max(this.data, function (d) {
              return d.count;
            })
          ])
          .range([this.chartDefaults.height, 0]);
      d3.axisBottom().scale(x);
      d3.axisLeft().scale(y);

      //Key funtions to draw X-axis,YAxis and the grid. All uses component axis
      //play around with time format to get it to display as you want : d3.timeFormat("%b-%d")
      var xAxis = d3
          .axisBottom()
          .scale(x)
          .tickFormat(d3.timeFormat("%b"))
          .tickValues(
              this.data
                  .map(function (d, i) {
                    if (i > 0) {
                      return d.date;
                    }
                    return false;
                  })
                  .splice(1)
          )
          .ticks(4);

      var yAxis = d3
          .axisLeft()
          .scale(y)
          .ticks(5);
      var yGrid = d3
          .axisLeft()
          .scale(y)
          .tickSize(-(this.chartDefaults.width - 100), 0, 0)
          .tickFormat("");
      // Return the key calculations and functions to draw the chart
      return {
        x,
        y,
        xAxis,
        yAxis,
        yGrid
      };
    },
    getTrnsx() {
      //works out translate value in realtive to dynamic height
      const t = "translate(0," + this.chartDefaults.height + ")";
      return t;
    },
    calculatePath() {
      //Get key calculation funtions to draw chart , Ie scale, axis mapping and plotting
      const scale = this.getScales();
      // Define calcultion to draw chart
      const path = d3
          .line()
          .x(d => {
            return scale.x(d.date);
          })
          .y(d => {
            return scale.y(d.count);
          })
          .curve(d3.curveBasis);

      // draw line then this.line is injected into the template
      this.line = path(this.data);
    }
  }
};
</script>


<style>
text {
  color: #fff;
}

path.line {
  fill: none;
}

.grid line {
  opacity: 0.05;
}

.xA line {
  opacity: 0.5;
}

/*Some fancy animation to draw chart*/
svg .lineChart > path {
  stroke-width: 1.5;
}

.ani1 svg .lineChart > path {
  -webkit-animation-name: draw;
  animation-name: draw;
}

@-webkit-keyframes draw {
  85% {
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  85% {
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.text {
  display: inline-block;
  font-size: 1rem;
  margin: 0.5vw 0 1.5vw;
}

svg {
  background-color: lightgray;
  padding: 1rem;
}

.yA .tick {
  font-size: 16px;
}
</style>
