<template>
  <div>
    <Header titre="Nouvelle attestation"/>

    <div class="attestation">
      <form>
        <div class="formulaireInputs container">
          <div class="div_icon_input">
            <q-input v-model="prenom" type="text" label="Prénom"
                   required/>
          </div>

          <div class="div_icon_input">
            <q-input v-model="nom" type="text" label="Nom" required/>
          </div>

          <div class="div_icon_input">
            <q-input v-model="dateNaissance" type="date" label="Date de naissance" required/>
          </div>

          <div class="div_icon_input">
            <q-input v-model="lieuNaissance" type="text" label="Lieu de naissance" required/>
          </div>

          <div class="div_icon_input">
            <q-input v-model="adresse" type="text" label="Adresse" required/>
          </div>

          <div class="div_icon_input">
            <q-input v-model="ville" type="text" label="Ville" required/>
          </div>

          <div class="div_icon_input">
            <q-input v-model="codePostal" type="number" pattern="/[0-9]{5}/" label="Code Postal" required/>
          </div>


          <div class="div_icon_input row">
            <q-input class="col-6" v-model="dateSortie" type="date" :min="dateToday" label="Date de sortie" required/>
            <q-input class="col-6" v-model="heureSortie" type="time" label="Heure de sortie" required/>
          </div>

          <div class="div_icon_input">
            <q-select label="Motif de déplacement" v-model="motif" required :options="optionsMotif">
            </q-select>
          </div>

          <div class="div_bouton_valid">
            <button type="submit" @click="generateQRCode" class="bouton_valid btn btn-lg">VALIDER
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>

      <div class="div_qrcode">
        <div id="qrcode"></div>
      </div>
    </div>

  </div>
</template>

<script>
import {QRCodeSVG} from '@cheprasov/qrcode';
import moment from 'moment'

import Header from "@/components/Header";


let stack;
const reader = new FileReader();

reader.addEventListener("load", function () {
  stack = reader.result;
}, false);

export default {
  name: "Attestation",
  components: {Header},
  data () {
    return {
      dateToday: moment().locale('fr').format('YYYY-MM-DD'),
      prenom: null,
      nom: null,
      dateNaissance: null,
      lieuNaissance: null,
      adresse: null,
      ville: null,
      codePostal: null,
      dateSortie: null,
      heureSortie: null,
      motif: null,

      optionsMotif: [
        { value: 'travail',
          label:'Activité professionnelle, enseignement et formation',
          text: 'Déplacements entre le domicile et le lieu d\'exercice de l\'activité professionnelle' +
              ' ou le lieu d\'enseignement et de formation, déplacements professionnels ne pouvant être différés.'
        },
        { value: 'sante',
          label:'Consultations et soins',
          text: 'Déplacements pour des consultations, examens, actes de prévention (dont vaccination) et soins' +
              ' ne pouvant être assurés à distance et ne pouvant être différés ou pour l\'achat de produits de santé.'
        },
        { value: 'famille',
          label:'Motifs familiaux impérieux, personnes vulnérables ou précaires ou garde d\'enfants',
          text: 'Déplacements pour motif familial impérieux, pour l\'assitance aux personnes vulnérables' +
              ' ou précaires ou pour la garde d\'enfants.'
        },
        { value: 'handicap',
          label:'Situation de handicap',
          text: 'Déplacements des personnes en situation de handicap et de leur accompagnant.'
        },
        { value: 'convocation',
          label:'Convocation judiciaire ou administrative',
          text: 'Déplacements pour répondre à une convocation judiciaire ou administrative.'
        },
        { value: 'missions',
          label:'Missions d\'intérêt général',
          text: 'Déplacements pour participer à des missions d\'intérêts général sur demande de l\'autorité ' +
              'administrative.'
        },
        { value: 'transits',
          label:'Transits ferroviaires ou aériens ou en bus',
          text: 'Déplacements liés à des transits ferroviaires ou aériens ou en bus pour des déplacements' +
              ' de longues distance.'
        },
        { value: 'animaux',
          label:'Animaux de compagnie',
          text: 'Déplacements brefs, dans un rayon maximal d\'un kilomètre autour du domicile pour les besoins ' +
              'des animaux de compagnie.'
        },
      ]
    }
  },

  methods: {
    refactorDates: function () {
      this.dateNaissance = moment(this.dateNaissance).locale('fr').format('DD MMMM YYYY')
    },

    generateQRCode: function () {
      //this.refactorDates()

      const divElement = document.getElementById('qrcode');

      if (this.prenom.length > 0) {
        let options = {
          level: 'H',
          fgColor: 'black',
          bgColor: 'white'
        }
        if (stack) {
          Object.assign(options)
        }
      let donnees = ""
        const qrSVG = new QRCodeSVG(donnees.concat(
            'Cree le: ', this.dateSortie, ' a ', this.heureSortie, ';', '\n',
            'Nom: ', this.nom, ';', '\n',
            'Prenom: ', this.prenom, ';', '\n',
            'Naissance: ', this.dateNaissance, ' a ', this.lieuNaissance, ';', '\n',
            'Adresse: ', this.adresse, ' ', this.codePostal, ' ' ,this.ville,';', '\n',
            'Sortie: ', this.dateSortie, ' a ', this.heureSortie, ';', '\n',
            'Motifs: ',  this.motif.value),
            options);
        divElement.innerHTML = qrSVG.toString();
      } else {
        divElement.innerHTML = '';
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../styles/quasar.variables";
.attestation {
  margin: 62px 0;

  .div_bouton_valid {
    margin-top: 2rem;
    display: flex;
    .bouton_valid {
      margin: auto;
      background-color: $primary;
      color: white;
    }
    .bouton_valid:active {
      opacity: 0.5;
    }
  }

  .div_qrcode {
    margin-top: 4rem;
    width: 100%;
    #qrcode {
      display: flex;
      width: 80%;
      margin: auto;
    }
  }
}

[dir] svg {
  background-color: transparent !important;
}

svg {
  background-color: transparent !important;
}
</style>
