<template>
  <div>
    <Header :titre="this.$route.params.nameDepartement"/>
    <b-container class="departement">
      <h3>{{ nouveauxDecesLive }} décès ces dernières 24h</h3>
      <h3>{{ this.donneesDepartementales[this.donneesDepartementales.length - 1].nouvellesReanimations }} entrées en
        réanimation ces dernières 24h</h3>

      <div class="row blocGraphiques">
        <div class="graphique col-lg-6 col-12">
          <Graph :data="nouvellesReanimations" v-bind:class="'ani1'"
                 :graph-class="'graphNouvellesRea'"
                 :title="'Nouvelles réanimations en 24h'"
                 :line-color="'red'"
          />
        </div>

        <div class="graphique col-lg-6 col-12">
          <Graph :data="nouvellesHospitalisations" v-bind:class="'ani1'"
                 :graph-class="'graphNouvellesHosp'"
                 :title="'Nouvelles hospitalisations en 24h'"
                 :line-color="'blue'"
          />
        </div>

        <div class="graphique col-lg-6 col-12">
          <Graph :data="deces" v-bind:class="'ani1'"
                 :graph-class="'graphDeces'"
                 :title="'Nombre de décès cumulés'"
                 :line-color="'black'"
          />
        </div>

        <div class="graphique col-lg-6 col-12">
          <Graph :data="gueris"  v-bind:class="'ani1'"
                 :graph-class="'graphguerisons'"
                 :title="'Nombre de guérisons cumulées'"
                 :line-color="'green'"
          />
        </div>
      </div>

    </b-container>
  </div>
</template>

<script>
import Graph from "@/components/graphique/Graph";
import Header from "@/components/Header";

export default {
  name: "DetailDepartement",
  components: {Header, Graph},
  data() {
    return {
      donneesDepartementalesLive: [],
      donneesDepartementales: [],

      nouvellesReanimations: [],
      nouvellesHospitalisations: [],
      deces: [],
      gueris: [],

      nouveauxDecesLive: null,
      chart_config: {
        values: ['death'],
        date: {
          key: 'date',
          inputFormat: '%Y',
          outputFormat: '%Y',
        },
        axis: {
          yTicks: 1,
        }
      }
    }
  },
  methods: {
    initDonneesDepartement() {
      this.axios.get('https://coronavirusapi-france.now.sh/AllDataByDepartement?Departement=' + this.$route.params.nameDepartement)
          .then((response) => {
            this.donneesDepartementales = response.data.allDataByDepartement
            for (let counter = 0; counter < response.data.allDataByDepartement.length; counter++) {
              if (response.data.allDataByDepartement[counter].nouvellesReanimations ||
                  response.data.allDataByDepartement[counter].nouvellesReanimations >= 0) {
                this.nouvellesReanimations.push({
                  count: response.data.allDataByDepartement[counter].nouvellesReanimations,
                  day: response.data.allDataByDepartement[counter].date
                })
              }
              if (response.data.allDataByDepartement[counter].deces ||
                  response.data.allDataByDepartement[counter].nouvellesReanimations >= 0) {
                this.deces.push({
                  count: response.data.allDataByDepartement[counter].deces,
                  day: response.data.allDataByDepartement[counter].date
                })
              }
              if (response.data.allDataByDepartement[counter].gueris ||
                  response.data.allDataByDepartement[counter].nouvellesReanimations >= 0) {
                this.gueris.push({
                  count: response.data.allDataByDepartement[counter].gueris,
                  day: response.data.allDataByDepartement[counter].date
                })
              }
              if (response.data.allDataByDepartement[counter].nouvellesHospitalisations ||
                  response.data.allDataByDepartement[counter].nouvellesReanimations >= 0) {
                this.nouvellesHospitalisations.push({
                  count: response.data.allDataByDepartement[counter].nouvellesHospitalisations,
                  day: response.data.allDataByDepartement[counter].date
                })
              }
            }
            this.nouveauxDecesLive = this.donneesDepartementales[this.donneesDepartementales.length - 1].deces - this.donneesDepartementales[this.donneesDepartementales.length - 2].deces
          }, (error) => {
            console.error('ERREUR', error)
          })
    },
  },
  mounted() {
    this.initDonneesDepartement()
  }
}
</script>

<style scoped lang="scss">
@import "../../node_modules/bootstrap/scss/bootstrap";

.departement {
  margin: 62px 0;
  text-align: center;
}

.blocGraphiques {
  .graphique {
    margin: 4rem 0;
  }
}
</style>
