<template>
  <div>
    <Header :titre="this.$route.params.nameRegion"/>

    <div class="region">
      <div class="container listeStops">
        <div class="liste_arrets row">
          <div v-for="(departement, index) in departements" :key="index" class="col-lg-3 col-md-4 col-12">
            <b-btn :to="{name: 'Departement', params: {nameDepartement: departement.nom}}" class="arret">
              <span class="nom_arret">
                {{ departement.nom }}
              </span><br/>
            </b-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import router from "@/config/router";
import Header from "@/components/Header";

export default {
  name: "DetailRegion",
  components: {Header},
  data() {
    return {
      donneesRegionales: [],
      departements: []
    }
  },
  methods: {
    initDonneesRegion() {
      this.axios.get('https://coronavirusapi-france.now.sh/FranceLiveGlobalData')
          .then((response) => {
            this.donneesRegionales = response.data.FranceGlobalLiveData
          }, (error) => {
            console.error('ERREUR', error)
          })
    },

    getDepartements() {
      this.axios.get('https://geo.api.gouv.fr/regions/' + this.$route.params.codeRegion + '/departements')
          .then((response) => {
            this.departements = response.data
            if (this.departements.length === 1) {
              // ici on utilise replace pour retourner directement à la page d'accueil et non à la page region si on veut retourner en arrière
              router.replace('/departement=' + this.departements[0].nom)
            }
          }, (error) => {
            console.error('ERREUR', error)
          })
    }
  },
  mounted() {
    this.getDepartements()
  }
}
</script>

<style scoped lang="scss">

.region {
  margin: 62px 0;
  .listeStops {

    .liste_arrets {
      justify-content: center;
      margin-top: 2rem;
      display: flex;

      .arret {
        height: 140px;
        border: 2px solid blue;
        background-color: white;
        border-radius: 10px;
        color: blue;
        margin: 15px 0;
        padding: 1rem;
        text-decoration: none;
        display: flex;

        .nom_arret {
          margin: auto;
          text-transform: uppercase;
          font-size: 20px;

          .distance_arret {
            text-transform: lowercase;
            font-size: 15px;
          }
        }

        .arret:hover {
          color: white;
        }

      }

      .arret:hover {
        background-color: blue;
        color: white;
      }

      .zero_arret {
        color: blue;
        font-size: 20px;

        .titre_zero_arret {
          font-size: 50px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
</style>
