<template>
  <div>
    <Header titre="Statistiques Covid-19"/>
    <div class="home">
      <div class="div_loader" v-if="loading">
        <b-spinner class="loader" type="grow" label="Spinning"></b-spinner>
      </div>
      <div class="text-center text-white bg-dark">
        <h1>Bienvenue sur Statistiques Covid !</h1>
        <h2>Voici les statistiques pour la date du {{ donneesGlobales[0].date | refactorDate(date) }}</h2>
        <div class="statistiquesGlobales row">
          <div v-if="casConfirmesNow !== null" class="blocInfo col-md-4 col-12">
            <i class="fas fa-virus fa-6x icone"></i>
            <span class="resultat">Cas confirmés ces dernières 24h<br/><span class="chiffres">+ {{ casConfirmesNow.toLocaleString() }}</span></span>
          </div>
          <div class="blocInfo col-md-4 col-12">
            <i class="fas fa-skull-crossbones fa-6x icone"></i>
            <span class="resultat">Décès confirmés ces dernières 24h<br/><span class="chiffres">+ {{ decesNow.toLocaleString() }}</span></span>
          </div>
          <div class="blocInfo col-md-4 col-12">
            <i class="fas fa-heartbeat fa-6x icone"></i>
            <span class="resultat"><span class="chiffres">{{ donneesGlobales[0].reanimation.toLocaleString() }}</span><br/> patients en réanimation actuellement</span>
          </div>
          <!--        <div class="blocInfo col-md-4 col-12">
                    <i class="fas fa-hospital fa-6x icone"></i>
                    <span class="resultat">Nouvelles hospitalisations : {{ donneesGlobales[0].nouvellesHospitalisations.toLocaleString() }}</span>
                  </div>
                  <div class="blocInfo col-md-4 col-12">
                    <i class="fas fa-plus-square fa-6x icone"></i>
                    <span class="resultat">Guéris : {{ donneesGlobales[0].gueris.toLocaleString() }}</span>
                  </div>
                  <div class="blocInfo col-md-4 col-12">
                    <i class="fas fa-hospital fa-6x icone"></i>
                    <span class="resultat">Hospitalisées : {{ donneesGlobales[0].hospitalises.toLocaleString() }}</span>
                  </div>-->
        </div>
      </div>

      <div class="container blocRegions">
        <h2 class="titreRegions">Sélectionnez votre région pour voir plus de détails</h2>

        <b-form-select @change="goToPageRegion" v-model="regionSelected" size="sm" class="mt-3">
          <option :value="region" v-for="(region, index) in regions" :key="index">{{ region.nom }}</option>
        </b-form-select>
      </div>
    </div>

  </div>
</template>

<script>
import moment from 'moment'
import router from '@/config/router'
import Header from "@/components/Header";

export default {
  name: "Home",
  components: {Header},
  data() {
    return {
      donneesGlobales: [],
      regionSelected: null,
      regions: [],
      loading: true,

      dateVeille: null,
      totalCasConfirmesVeille: null,
      totalDecesVeille: null,
      casConfirmesNow: null,
      decesNow: null
    }
  },
  filters: {
    refactorDate(date) {
      return moment(date).locale('fr').format('DD MMMM YYYY')
    },
    formatageNombre(value) {
      return value.toLocaleString()
    }
  },

  methods: {
    initDonneesGlobales() {
      this.loading = true
      this.axios.get('https://coronavirusapi-france.now.sh/FranceLiveGlobalData')
          .then((response) => {
            this.donneesGlobales = response.data.FranceGlobalLiveData
            this.dateVeille = moment(this.donneesGlobales[0].date).subtract(1, 'd').format('YYYY-MM-DD')
            this.recupDonneesVeille()
            this.loading = false
          }, (error) => {
            console.error('ERREUR', error)
          })
    },
    recupDonneesVeille() {
      this.axios.get('https://coronavirusapi-france.now.sh/AllDataByDate?date=' + this.dateVeille)
          .then((response) => {
            this.totalDecesVeille = response.data.allFranceDataByDate[101].deces
            this.totalCasConfirmesVeille = response.data.allFranceDataByDate[101].casConfirmes
            if (this.donneesGlobales[0].casConfirmes !== undefined && this.totalCasConfirmesVeille !== undefined) {
              this.casConfirmesNow = (this.donneesGlobales[0].casConfirmes) - (this.totalCasConfirmesVeille)
            }
            this.decesNow = (this.donneesGlobales[0].deces) - (this.totalDecesVeille)
          }, (error) => {
            console.error('ERREUR', error)
          })
    },

    getRegions() {
      this.axios.get('https://geo.api.gouv.fr/regions')
          .then((response) => {
            this.regions = response.data
          }, (error) => {
            console.error('ERREUR', error)
          })
    },

    goToPageRegion() {
      router.push({name: 'Region', params: {nameRegion: this.regionSelected.nom, codeRegion: this.regionSelected.code}})
    }
  },
  created() {
    this.loading = true
    this.initDonneesGlobales()
    this.getRegions()
  }
}
</script>

<style scoped lang="scss">
@import "node_modules/bootstrap/scss/bootstrap";

.home {
  margin: 62px 0;
  .div_loader {
    display: flex;
    margin: 4rem 0;
    @include media-breakpoint-up(sm) {
      height: 0;
    }

    .loader {
      margin: auto;
      width: 6rem;
      height: 6rem;
    }
  }

  .statistiquesGlobales {
    margin: 0;
    .blocInfo {
      margin: 1rem 0;

      .icone, .resultat {
        display: block;
      }

      .resultat {
        margin-top: 1rem;
        font-size: 18px;
        .chiffres {
          font-size: 40px;
        }
      }
    }
  }

  .blocRegions {
    margin-top: 2rem;
    .titreRegions {
      text-align: center;
    }
  }
}
</style>
