<template>
  <nav v-if="this.$store.getters.test !== 'test'" class="header-navbar navbar navbar-light bg-light">
    <router-link class="icone-header" :to="{name: 'Home'}">
      <i v-if="this.$route.name === 'Region'" class="fas fa-arrow-left fa-2x"></i>
    </router-link>
    <span class="lien_titre">
      {{ titre }}
    </span>
  </nav>
</template>

<script>
import router from "@/config/router";

export default {
  name: "Header",
  props: ['titre'],
  methods: {
    retourArriere() {
      router.go(-1)
    }
  }
}
</script>

<style scoped lang="scss">
.header-navbar {
  position: fixed !important;
  width: 100%;
  z-index: 1;
  top: 0;
  .icone-header {
    color: #343a40;
    position: absolute;
  }
  .lien_titre {
    margin: auto;
    font-weight: bold;
    color: #343a40;
    padding: 0.5rem 0;
    text-decoration: none;
    font-size: 20px;
  }
}
</style>
