<template>
  <div>
    <router-view/>
    <q-tabs
        v-model="tab"
        dense
        align="justify"
        class="bg-white shadow-2 bottomNavs"
        active-color="primary"
        :breakpoint="0"
    >
      <q-tab class="lienNav" v-on:click="goToHome" name="Tableau de bord" label="Tableau de bord" icon="mail"/>
      <q-tab class="lienNav" v-on:click="goToAttestation" name="Attestation" label="Attestation" icon="alarm" />
    </q-tabs>
  </div>
</template>

<script>

import router from '@/config/router'

export default {
  name: 'App',
  data () {
    return {
      tab: 'Tableau de bord'
    }
  },
  methods: {
    goToHome: function () {
      router.push({name: 'Home'})
    },

    goToAttestation: function () {
      router.push({name: 'Attestation'})
    }
  },
  mounted() {
    router.push({name: 'Home'})
  }
}
</script>

<style lang="scss">
.bottomNavs {
  margin-top: 60px;
  width: 100%;
  .lienNav {
    padding: 0 !important;
    flex: 1 !important;
  }
}
[dir="ltr"] .row {
  margin: 0 !important;
}
[dir] .shadow-2 {
  position: fixed;
  bottom: 0;
}
</style>
